/cache/
/config/foo.xml
/config/default.xml
/config/config.xml
/config/maxesstuff.xml
/config/ghs.xml
/nbproject/
/nbproject/private/
/test/
/.git-rewrite/
/install/pw.xml
/install/i18n/template.mo
/config/tsn.xml
/l10n/de_DE/LC_MESSAGES/ms-tsv-userBar.po
/l10n/de_DE/LC_MESSAGES/ms-tsv-js_login.po
/l10n/de_DE/LC_MESSAGES/ms-tsv-serverInfo.po
/l10n/de_DE/LC_MESSAGES/ms-tsv-install.po
/l10n/de_DE/LC_MESSAGES/ms-tsv-loginButton.po
/l10n/de_DE/LC_MESSAGES/ms-tsv-stats.po
/l10n/de_DE/LC_MESSAGES/ms-tsv-infoDialog.po
/l10n/de_DE/LC_MESSAGES/ms-tsv-legende.po
/l10n/en_US/LC_MESSAGES/ms-tsv-infoDialog.po
/l10n/en_US/LC_MESSAGES/ms-tsv-legende.po
/l10n/en_US/LC_MESSAGES/ms-tsv-install.po
/l10n/en_US/LC_MESSAGES/ms-tsv-stats.po
/l10n/en_US/LC_MESSAGES/ms-tsv-userBar.po
/l10n/en_US/LC_MESSAGES/ms-tsv-js_login.po
/l10n/en_US/LC_MESSAGES/ms-tsv-serverInfo.po
/l10n/en_US/LC_MESSAGES/ms-tsv-loginButton.po
/l10n/de_DE/LC_MESSAGES/ms-tsv-welcome.po
/l10n/en_US/LC_MESSAGES/ms-tsv-welcome.po
/l10n/da_DK/LC_MESSAGES/ms-tsv-userBar.po
/l10n/da_DK/LC_MESSAGES/ms-tsv-serverInfo.po
/l10n/da_DK/LC_MESSAGES/ms-tsv-loginButton.po
/l10n/da_DK/LC_MESSAGES/ms-tsv-infoDialog.po
/l10n/da_DK/LC_MESSAGES/ms-tsv-stats.po
/l10n/da_DK/LC_MESSAGES/ms-tsv-install.po
/l10n/da_DK/LC_MESSAGES/ms-tsv-welcome.po
/l10n/da_DK/LC_MESSAGES/ms-tsv-legende.po
/l10n/da_DK/LC_MESSAGES/ms-tsv-js_login.po
/l10n/ru_RU/LC_MESSAGES/ms-tsv-legende.po
/l10n/ru_RU/LC_MESSAGES/ms-tsv-stats.po
/l10n/ru_RU/LC_MESSAGES/ms-tsv-install.po
/l10n/ru_RU/LC_MESSAGES/ms-tsv-userBar.po
/l10n/ru_RU/LC_MESSAGES/ms-tsv-loginButton.po
/l10n/ru_RU/LC_MESSAGES/ms-tsv-infoDialog.po
/l10n/ru_RU/LC_MESSAGES/ms-tsv-js_login.po
/l10n/ru_RU/LC_MESSAGES/ms-tsv-serverInfo.po
/l10n/ru_RU/LC_MESSAGES/ms-tsv-welcome.po
/l10n/fr_FR/LC_MESSAGES/ms-tsv-stats.po
/l10n/fr_FR/LC_MESSAGES/ms-tsv-js_login.po
/l10n/fr_FR/LC_MESSAGES/ms-tsv-legende.po
/l10n/fr_FR/LC_MESSAGES/ms-tsv-install.po
/l10n/fr_FR/LC_MESSAGES/ms-tsv-serverInfo.po
/l10n/fr_FR/LC_MESSAGES/ms-tsv-userBar.po
/l10n/fr_FR/LC_MESSAGES/ms-tsv-welcome.po
/l10n/fr_FR/LC_MESSAGES/ms-tsv-loginButton.po
/l10n/fr_FR/LC_MESSAGES/ms-tsv-infoDialog.po