/cache/
/config/foo.xml
/config/default.xml
/config/config.xml
/config/maxesstuff.xml
/config/ghs.xml
/nbproject/
/nbproject/private/
/test/
/.git-rewrite/
/install/pw.xml
/install/i18n/template.mo
/config/tsn.xml
/install/l10n/template.mo