/config/foo.xml
/config/default.xml
/config/config.xml
/config/maxesstuff.xml
/config/ghs.xml
/nbproject/
/nbproject/private/
/test/
/.git-rewrite/
/install/pw.xml
/install/i18n/template.mo
/config/tsn.xml
/translators.txt
/media/
/styles/modern-dark/img/channel_locked.ai
/styles/modern-dark/img/server.ai
/styles/modern-dark/img/channel.ai
/styles/modern-dark/img/locked.ai
/styles/modern-dark/img/moderated.ai