/**
 *  This file is part of TeamSpeak3 Webviewer.
 *
 *  TeamSpeak3 Webviewer is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  TeamSpeak3 Webviewer is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with TeamSpeak3 Webviewer.  If not, see <http://www.gnu.org/licenses/>.
*/

body
{

}

p, span,a, tr, td, button, input, .tooltip
{
    font-size: 14px;
}

div#language, div#selection, div#password
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

div#language, div#password
{
    width: 600px;
}

div#selection
{
    width: 800px;
}

div#permission-check
{
    padding: 5px;
}

div#permission-warning
{
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div#alert, div#warning, div#info
{
    width: 100%;
    font-size: 14px;
}

div#config
{
    margin-top: 100px;
}

.sortable
{
    background-color: #eee;
    padding: 15px;
    width: 200px;
    height: 400px;
}

li
{
    list-style-type: none;
    padding: 5px;
}

tr
{
    margin-bottom: 15px !important;
    padding: 3px;
}