p
{
    font-size: 14px;
}

.tooltip
{
    font-size: 14px;
}

div#password, div#language, div#selection
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 400px;
}

div#alert
{
    width: 100%;
}

input
{
    font-size: 14px;
}

button
{
    font-size: 14px;
}

.sortable
{
    background-color: #eee;
    padding: 15px;
    width: 200px;
    height: 400px;
}

li
{
    list-style-type: none;
    padding: 5px;
}

tr
{
    margin-bottom: 15px !important;;
    padding: 3px;
}