/**
 *  This file is part of TeamSpeak3 Webviewer.
 *
 *  TeamSpeak3 Webviewer is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  TeamSpeak3 Webviewer is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with TeamSpeak3 Webviewer.  If not, see <http://www.gnu.org/licenses/>.
*/

body
{
    background: rgb(238,238,238);
}

fieldset.config
{
    margin-bottom: 6px;
}

p, span,a, tr, td, button, input, .tooltip
{
    font-size: 14px;
}

div.center
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

div#language, div#config-selection, div#password, div#config
{
    margin-left: auto;
    margin-right: auto;

    padding: 20px;

    border-radius: 10px;
    -moz-border-radius: 10px;

    border: 1px #E0E0E0 solid;


    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 1%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(1%,rgba(255,255,255,0.5)), color-stop(100%,rgba(242,242,242,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 1%,rgba(242,242,242,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 1%,rgba(242,242,242,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 1%,rgba(242,242,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#f2f2f2',GradientType=0 );
    background: linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 1%,rgba(242,242,242,1) 100%);
}

div#config-selection, div#password
{
    margin-top: 100px;
}

div#config
{
    width: 1200px;
}

div#language, div#password
{
    width: 600px;
}

div#config-selection
{
    width: 800px;
}

div#permission-check
{
    padding: 5px;
}

div#permission-warning
{
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div#alert, div#warning, div#info
{
    width: 100%;
    font-size: 14px;
}

div#config
{
    margin-top: 100px;
}

div#hint
{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    font-size: 12px;
}

div#hint a
{
    text-decoration: none;
}

.config
{
    padding: 0.7em;
}

.config a span
{
    padding: 5px;
    margin-right: 5px;
}

.sortable
{
    background-color: #eee;
    padding: 15px;
    width: 200px;
    height: 350px;
}

li
{
    list-style-type: none;
    padding: 5px;
}

tr
{
    margin-bottom: 15px !important;
    padding: 3px;
}