/* Author    : Maximilian Narr
 * Homepage  : http://maxesstuff.de
 * Email     : maxe@maxesstuff.de
 */

p, div
{
    margin-top:0px;
    margin-bottom:0px;
}

body
{
    margin-top:5px;
    margin-bottom:0px;
    white-space:nowrap;
    background-color:transparent;
}

.servername
{
    font-family:sans-serif;
    font-size: small;
    text-decoration:underline;
}

.rechtegruppe
{
    margin-top:5px;
    font-family:sans-serif;
    font-size:small;
}

.server
{
    font-family:sans-serif;
    font-size:medium;
    margin-left:0px;
    margin-top:5px;
    margin-bottom:0px;
}

.channel
{
    font-family:sans-serif;
    font-size:small;
    margin: 1px 0 0 0;
}

.channel_arr
{
    margin-left: 16px;
}

.channel_norm
{
    margin-left: 32px;
}

/* Spacer */
.spacer
{
    font-family:sans-serif;
    font-size:small;
    margin-top:0px;
    margin-bottom:0px;
    letter-spacing:1px;
}

.spacer_arr
{
    margin-left: 20px;
}

.spacer_norm
{
    margin-left: 20px;
}

.right
{
    text-align: right;
}

.left
{
    text-align: left;
}

.center
{
    text-align: center;
}

.linie
{
    background: url(img/linie.png) repeat-x;
}

.bs
{
    background: url(img/bs.png) repeat-x;
}

.bspunkt
{
    background: url(img/bspunkt.png) repeat-x;
}

.bsdpunkt
{
    background: url(img/bsdpunkt.png) repeat-x;
}

.punkt
{
    background: url(img/punkt.png) repeat-x;
}

.client
{
    font-family:sans-serif;
    font-size:small;
    font-weight: bold;
    margin-left:32px;
    margin-top:1px;
    margin-bottom:0px;
}

.spacer_con .arrow
{
    margin-left:-12px;
}

.img_r
{
    float:right;
    margin-left: 2px;
}

.img_l
{
    margin-right:4px;
    float:left;
}
